body{
    background-color: #1C1C21;
    margin: 0;

}
.header {
    border-radius: 0;
    border: 1px solid #28282b;
    border-top: none;
}
.container {
    margin: 0 auto;
 width: 390px;

}
.header-container {
    display: flex;
    padding: 40px 0px 0px 16px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #28282b;
 border-top: none;
}
.logo{
    width: 89.4px;
height: 18px;
}
.header-link {
}
.header-nav {
    display: none;
}
.header-nav-list {
 
}
.header-nav-list-item {
}
.header-nav-list-item-link {
}
img, svg{
    display: block;
    max-width: 100%;
    height: auto;
}
.about {
}
.container{
    max-width:357px;
    gap:30px;
    margin-left: auto;
    margin-right: auto;
}
.mini-text {
    width: 357px;
    height: 19px;
    color:  #797C86;
font-size: 14px;
}
.mega-text {
    width: 357px;
    height: 38px;
    color:  #FFF;
font-size: 28px;
}
.picture-img {
    width: 357px;
    height:236px;
}
.list {
    display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 10px;
list-style: none;
padding: 0;
margin: 0;
}
.list-item {
    width: 173px;
    height: 99px;
    display: flex;
padding: 20px 14px;
flex-direction: column;
align-items: center;
flex: 1 0 0;
border-radius: 12px;
border: 1px solid #1C1C21;
background: #0E0E10;
box-sizing: border-box;
}
.big-text {
    width: 145px;
    height: 38px;
    color:  #FFF;
text-align: center;
font-size: 28px;
line-height: normal;
}
.text {
    width: 145px;
    height: 21px;
    color:  #797C86;
text-align: center;
font-size: 14px;
line-height: 21px;
}
.text-container {
    width: 357px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
padding: 40px 0px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
text-align: center;
border-bottom: 40px;
border-top: 40px;
}
.megamega-text {
    height: 33px;
    color: #797C86;
font-size: 24px;
}
.minimini-text {
    width: 357px;
    height: 357px;
    color:  #797C86;
font-size: 14px;
line-height: 21px;
}
.Journey {
    display: flex;
    border-top: 80px;
}
.container-timeline {
    margin-left: auto;
    margin-right: auto;
}
.min-text {
    width: 358px;
    height: 19px;
    color: #797C86;
font-size: 14px;
}
.max-text {
    color: #FFF;
font-size: 28px;
width: 358px;
height: 76px;
margin-bottom: 60px;
}
.list-item-text {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-item-text-mini {
    width: 358px;
    height: 196px;
    display: flex;
padding: 24px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
border-radius: 10px;
border: 1px solid #1C1C21;
background: #0E0E10;
margin-bottom: 20px;
box-sizing: border-box;
}
.b-text {
    color: #797C86;
font-size: 24px;
line-height: normal;
}
.m-text {
    color: #797C86;
font-size: 14px;
line-height: 150%;
}
