
body{
    background-color: #1C1C21;
    margin: 0;

}
img, svg{
    display: block;
    max-width: 100%;
    height: auto;
}

.header {
    border-radius: 0;
    border: 1px solid #28282b;
    border-top: none;
}
.container {
    margin: 0 auto;
 width: 390px;

}
.header-container {
    display: flex;
    padding: 40px 0px 0px 16px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #28282b;
 border-top: none;
}
.logo{
    width: 89.4px;
height: 18px;
}
.header-link {
}
.header-nav {
    display: none;
}
.header-nav-list {
 
}
.header-nav-list-item {
}
.header-nav-list-item-link {
}

.button {
}
.button-link {
    display: none;
}
.header-burger {
    width: 68px;
    height: 68px;
    display: flex;
padding: 20px;
border-radius: 20px 0px 0px 0px;
border: 1px solid  #28282b;
background-color: #1C1C21;
cursor: pointer;

}
.header-burger-icon {
 width: 28px;
 height: 28px;
}


.HERO {
    display: flex;
    padding: 40px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}
.herop{
   
    display: flex;
    width: 390px;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 16px;
}
.herop-title{
    color: #E4E4E6;
font-family: Manrope;
font-size: 40px;
font-weight: 600;
text-transform: uppercase;
}
.subtext {
    color:#62646C;
font-family: Manrope;
font-size: 14px;
font-weight: 500;
text-transform: uppercase;
}
span{
    color: #FFF;
font-family: Manrope;
font-size: 28px;
font-weight: 600;
text-transform: uppercase;
}
.container-bravn-b{
    border-radius: 100px;
    background: #4A2CED;
    box-shadow: 4px 4px 17.4px 0px rgba(255, 255, 255, 0.28) inset;
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 20px;
    text-decoration: none;
    padding: 14px 30px;
    cursor: pointer;
}
.container-bravn-bb{
 
}
.container-bravn {
    padding-top: 20px;
    display: flex;
align-items: center;
}
.work-together{
    color:  #FFF;
font-size: 28px;
font-weight: 600;
text-transform: uppercase;
}
.work {
    color: #FFF;
font-family: Manrope;
font-size: 28px;
font-weight: 600;
text-transform: uppercase;
}
.container-categories {

}
.icon-list {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}
.icon-list-item {
    display: flex;
align-items: center;
gap: 6px;
}
.icon-list-item-img {
    width: 30px;
height: 30px;
}
.icon-list-item-text {
    color:  #D6D0FB;
font-family: Manrope;
font-size: 14px;

line-height: 21px; 
text-transform: uppercase;
}


.Info {
}
.container-info {
    display: flex;
width: 358px;
flex-direction: column;
align-items: flex-start;
gap: 40px;
}
.btnn{
    display: inline-block;
padding: 14px 20px;
align-items: center;
gap: 10px;
border-radius: 8px;
border: 1px solid #2F2F37;
background: #1C1C21;
}
.photo-section {
    margin: 0 auto;
    height: 375px;
align-self: stretch;
fill: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.about {
}
.text {
}
.items {
}
.arrow {
}
.information {
}
.contact-info {
}
.contact-info-soclink-list {
}
.contact-info-soclink-list-item {
}
.info-soclink {
}
.infi-icon-soclink {
}
.soclink {
}
.icon-soclink {
}
.buttons {
}


.services {
}
.container-services {
}
.services-text {
}
.Services-title {
}
.button-container {
}
.btn {
}
.icon-brands {
}
.event {
}
.event-title {
}
.footer-link-img {
}
.event-text {
}
.filler {
}
.filler-item {
}
.filler-item-title {
}
.filler-item-text {
}
